# To ignore all .txt files 
*.txt 

# To ignore all . files 
.DS_Store

# To ignore all saved models (.sav)
*.sav 

# To ignore all .jpg
*.jpg

# To ignore others
Tau_quantification/__pycache__/

Tau_quantification/.ipynb_checkpoints/
Tau_quantification/.vscode/